body{
  background-color: #E6E6FA;
}

.aboutme{

  margin-top: 10px;
  text-align: center;

}

.aboutme p{
  font-family: sans-serif;
/*   text-align: center; */
  margin-left: 50px;

  color: DodgerBlue;
  font-family: 'Open Sans', sans-serif;
}

.photo{
width: 250px;
height: 440px;
}

#me{
  
  margin-left: 50px;
  font-size: 40px;
  color: #4682B4;
  font-family: 'Open Sans';
   font-weight: bold;
  font-style: bold;
}

#about{
  
  margin-left: 50px;
  font-size: 30px;
  color: #4682B4; 
  font-family: 'Open Sans';

}
.ref{
  font-family: sans-serif;
/*   text-align: center; */
  margin-left: 30px;
  font-size: 30px;
  color: DodgerBlue;
  font-family: 'Open Sans', sans-serif;
}

.ref a{
  margin: 20px;
}
.otchet{
  
  margin-left: 10px;
  font-size: 20px;
  color: #4682B4;
  
  font-family: 'Open Sans';
   font-weight: bold;
  font-style: bold;
}

.photootchet{
  text-align: center;
width: 48%;
height: 35%;
}